**/.idea
*.iml
**/build
**/.gradle
/.vs/Theatrical-Players-Refactoring-Kata/v16/.suo
/.vs/Theatrical-Players-Refactoring-Kata/v16/Browse.VC.db
/.vs/CMake Overview
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
